* {
  margin: 0;
  padding: 0%;
}

#fondo {
  color: #16101d;
  font-family: Helvetica;
  background: radial-gradient(at top left, #3b0a55 0%, transparent 40%),
    radial-gradient(at top right, #600f2f 0%, transparent 40%),
    radial-gradient(at bottom left, #300f5f 0%, transparent 40%),
    radial-gradient(at bottom right, #7b0a30 0%, transparent 40%), #0d0c1d; /* fondo base oscuro */
}

#cerveza {
  position: fixed;
  top: 100px;
  left: 40px;
  rotate: -20deg;
  font-size: 50px;
  color: #d47429;
  z-index: 2;
  animation: floatEmojiLeft 3s infinite ease-in-out;
  pointer-events: no;
}

#confe {
  position: fixed;
  top: 100px;
  right: 40px;
  rotate: 20deg;
  font-size: 50px;
  color: #d47429;
  z-index: 2;
  animation: floatEmojiRight 3s infinite ease-in-out;
  pointer-events: no;
}
#vino {
  position: fixed;
  bottom: 100px;
  left: 40px;
  rotate: -20deg;
  font-size: 50px;
  color: #d47429;
  z-index: 2;
  animation: floatEmojiLeft 3s infinite ease-in-out;
  pointer-events: no;
}
#fuego {
  position: fixed;
  bottom: 100px;
  right: 40px;
  rotate: 20deg;
  font-size: 50px;
  color: #d47429;
  z-index: 2;
  animation: floatEmojiRight 3s infinite ease-in-out;
  pointer-events: no;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tarjeta {
  border: #16101dbb 8px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 10px;
  width: 60%;
  height: 650px;
  background: radial-gradient(#16101d 50%, #0f0b13 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#titulo {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#contenedor {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#cuando {
  border-top: #d47429 solid 2px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#donde {
  border-top: #d47429 solid 2px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Confirmo {
  border-top: #d47429 solid 2px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cuando h2 {
  font-family: "Rowdies", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #ffffff;
  text-decoration: wavy;
  text-shadow: #dd4151;
}
#donde h2 {
  font-family: "Jua", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#Confirmo h2 {
  font-family: "Jua", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#confirm {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-decoration: none;
  transition-duration: 1s;
}

#titulo a {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #d47429;
  text-decoration: none;
  transition-duration: 1s;
}

#titulo a:hover {
  color: #aa9622;
  font-size: 45px;
}
#footer {
  border: #16101d94 8px;
  background-color: #16101d;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 60%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: row;
  flex-direction: row;
  margin-bottom: 5%;
}

#footer h3 {
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #d47429;
}
#footer a {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #d47429;
}

#footer a:hover {
  color: #aa9622;
  font-size: 15px;
}

#footer p {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #aa9622;
}
@media (max-width: 600px) {
  #tarjeta {
    flex-direction: column;
    width: 90%;
  }
  #cuando,
  #donde {
    height: auto;
    width: 100%;
    text-align: row;
    align-items: center;
    justify-content: center;
  }
  a {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
  }
  #footer {
    flex-direction: column;
    width: 90%;
    height: auto;
  }
  #footer h3 {
    font-size: 15px;
    text-align: center;
  }
  #footer p {
    font-size: 12px;
    text-align: center;
  }
  .emoji-float {
    border: #d4732900 30px;
    font-size: smaller;
    width: 40vw;
    height: 10vh;
  }

  .emoji-float::before {
    font-size: clamp(1.5rem, 5vw, 4rem);
  }
  * {
    overflow-x: hidden;
  }
  /* Animaciones */
  @keyframes floatLeft {
  }

  @keyframes floatRight {
  }
}

.emoji-float {
  margin-top: 5%;
  color: #d47429;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  z-index: 500;
  display: inline-block;
  overflow: visible;
}
/* Emoji izquierda */
.emoji-float::before {
  content: "🍺";
  position: absolute;
  left: -65px;
  font-size: 1.5em;
  animation: floatLeft 3s infinite ease-in-out;
  pointer-events: no;
}

/* Emoji derecha */
.emoji-float::after {
  content: "🍾";
  position: absolute;
  top: -25px;
  right: -25px;
  font-size: 1.5em;
  animation: floatRight 3s infinite ease-in-out;
  pointer-events: none;
  z-index: 0;
}
/* Animaciones */
@keyframes floatLeft {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-15px) rotate(20deg);
    opacity: 1;
  }
}
@keyframes floatEmojiLeft {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-20px) rotate(20deg);
    opacity: 1;
  }
}
@keyframes floatEmojiRight {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-20px) rotate(-20deg);
    opacity: 1;
  }
}
@keyframes floatRight {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
    opacity: 0, 5;
  }
  50% {
    transform: translateY(-10px) rotate(-10deg);
    opacity: 1;
  }
}
@keyframes rainbowShift {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

#cuando p {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

#donde p {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

#Confirmo h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
